$corBotao: #f9c04d;
$corTexto: #000000;
$corBotaoHover: #f9bd6f;


$colorBlack: #323131;
$colorWhite: #b6b4b4;
$colorGrayDark: #1c1c1c;
$colorGrayLight: #777474;
$colorGrayMedium: #777777;
$colorGrayLight: #cccccc;